/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*  */

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #1A1A1A;
}

#img-logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 83px;
    width: 280px;
}

.container{
    margin-top: 10px;
    background-color: #93DEFF;
    width: 500px;
    height: 500px;
    border-radius: 30px;
}


#label-login{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 75px;
    padding-top: 50px;
}

form{
    padding-top: -30px;
}

.btn-primary{
    align-items: center;
}

.form-input{
    margin-left: 45px;
    margin-top: 30px;
    border: solid 1.5px black;
    border-radius: 20px;
    background-color: #93DEFF !important;
    height: 40px;
    width: 380px;
}

.form-input::placeholder{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

button{
    margin-left: 45px;
    margin-top: 30px;
    border: solid 1.5px black;
    border-radius: 20px;
    background-color: #1A1A1A !important;
    height: 40px;
    width: 380px;
    color: #F7F7F7;
}

a{
    text-decoration: none;
    color: #F7F7F7;
}

p{
    margin-top: 20px;
    color: #1A1A1A;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 45px;
}

#no-acc{
    margin-left: 3px;
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-method{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}
.method {
    margin-left: 20px;
}

input[type=text] { 
    text-align:center;
}

input[type=password] { 
    text-align:center;
}



    
