/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*  */

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #1A1A1A;
}

#img-logo{
    height: 100px;
    width: 365px;
}

.container{
    margin-top: 100px;
    background-color: #93DEFF;
    width: 900px;
    height: 600px;
    border-radius: 30px;
}


#label-register{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 10px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.have-acc{
    display: inline;
}

form{
    padding-top: -30px;
}
.login-click{
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
}

.form-class {
    color: #222;
    font-size: 20px;
    margin-left: 30px;
}

.input-class {
    color: #222;
    background-color: #93DEFF;
    border-style: none;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding-left: 5px;
    border: solid 1px black;
    margin-left: 30px;
}


.h3-register {
    margin-left: 510px;
    margin-top: 30px;
}

button{
    margin-top: 30px;
    border: solid 1.5px black;
    border-radius: 20px;
    background-color: #1A1A1A !important;
    height: 50px;
    width: 500px;
}

.register {
    border-style: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Inter',
        sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 180px;
}

a{
    text-decoration: none;
    color: #F7F7F7;
}

p{
    margin-top: 20px;
    color: #1A1A1A;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#no-acc{
    margin-left: 3px;
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-method{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.method {
    margin-left: 20px;
}





    
