/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*  */

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #1A1A1A;
}

#img-logo{
    margin-left: 10px;
    height: 83px;
    width: 280px;
}

.container{
    margin-top: 0px;
    background-color: #93DEFF;
    width: 700px;
    height: 530px;
    border-radius: 30px;
}


#label-register{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.have-acc{
    display: inline;
    margin-left: 210px;
}

form{
    padding-top: -30px;
}
.login-click{
    text-decoration: underline;
    color: #1A1A1A;
    font-weight: bold;
}

.form-class {
    color: #222;
    font-size: 14px;
    margin-left: 30px;
}

.input-class {
    color: #222;
    background-color: #93DEFF;
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    padding-left: 5px;
    border: solid 1px black;
    margin-left: 30px;
}


.h3-register {
    margin-left: 510px;
    margin-top: 30px;
}

button{
    margin-top: 20px;
    border: solid 1.5px black;
    border-radius: 20px;
    background-color: #1A1A1A !important;
    height: 40px;
    width: 300px;
}

.register {
    border-style: none;
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Inter',
        sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 180px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #eeeeee;
}

p{
    margin-top: 20px;
    color: #1A1A1A;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#no-acc{
    margin-left: 3px;
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-method{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.method {
    margin-left: 20px;
}

.gender{
    margin-left: 30px;
}
.table-1{
    margin-left: 45px;
}
.table-2{
    margin-left: 210px;
}
.label-gender{
    font-size: 14px;
}



    
